.head-title{
	color: #FFF;

	/* Headings/Text XXL */
	font-family: Manrope;
	font-size: 48px;
	font-style: normal;
	font-weight: 400;
	line-height: 72px; /* 150% */
}

.desc{
	color: #F1F1F1;
/* Paragraphs/Text XS */
font-family: Open Sans;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 28px; /* 175% */
}

.buttonOne{
	padding: 16px 56px;
	border-radius: 56px;
	border: 2px solid #69E6A6;
	background: #65E4A3;
	color: var(--Dark-Blue, #0A2640);
	font-family: Open Sans;
	font-size: 20px;
	font-style: normal;
	font-weight: 700;
	line-height: 28px; /* 140% */
}

.buttonTwo{
	padding: 16px 56px;
	border-radius: 56px;
	border: 2px solid #FFF;
	color: #FFF;
	font-family: Open Sans;
	font-size: 20px;
	font-style: normal;
	font-weight: 700;
	line-height: 28px; /* 140% */
}


.buttonOne,
.buttonTwo {
    transition: transform 0.2s, box-shadow 0.2s;
}

.buttonOne:active,
.buttonTwo:active {
    transform: scale(0.95); /* Adjust the scale factor as needed */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Adjust the box shadow as needed */
}

@media screen and (max-width: 992px){
	.buttonOne,.buttonTwo{
		padding: 12px 24px;
		font-size: 16px;
	}
	
	.desc{
		font-size: 14px;
		line-height: normal;
	}
}